<footer class="footer footer-light">
    <div class="footer-logo">
        <div class="clgx-logo"></div>
    </div>
    <div class="footer-nav">
        <ul class="nav">
            <li class="nav-item"><a href="javascript:" class="nav-link">About Our Company</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item"><a href="javascript:" class="nav-link">Contact Us</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item"><a href="javascript:" class="nav-link">FAQs</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item"><a href="javascript:" class="nav-link">Sitemap</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item"><a href="https://www.corelogic.com/legal.aspx" target="_blank" class="nav-link">Legal</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item"><a href="https://www.corelogic.com/privacy.aspx" target="_blank" class="nav-link">Privacy</a></li>
        </ul>
        <div class="footer-date"> © 2022 CoreLogic. All Rights Reserved. </div>
    </div>
</footer>