<!-- Basic head nodes for every page -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= locals.title %></title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">

<!-- CoreLogic UI CSS -->
<link rel="stylesheet" href="/css/corelogic-ui.css">

<!-- jQuery first and then Bootstrap JS. -->
<script src="/scripts/jquery.js" defer></script>
<script src="/scripts/bootstrap.bundle.js" defer></script>
<script src="/scripts/daterangepicker.js" defer></script>
<script src="/scripts/moment.min.js" defer></script>
<script src="/scripts/corelogic-ui.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js" defer></script>
