<nav class="cl-main-nav navbar navbar-dark navbar-expand-md"><a href="#" class="navbar-brand"><span class="navbar-logo"></span>Cheaper By the Half Dozen</a>
    <div class="navbar-toggler">
        <nav aria-labelledby="navbarMobileToggler" class="nav"><a id="navbarMobileToggler" aria-expanded="false" data-toggle="collapse" href="#navbarSupportedContent" class="nav-item nav-link collapsed menu-toggle"><span class="fa fa-bars"><span class="sr-only">Toggle Navigation</span></span></a></nav>
    </div>
    <div id="navbarSupportedContent" class="navbar-collapse collapse"></div>
</nav>