<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    
    <!-- CoreLogic UI CSS -->
    <link rel="stylesheet" href="./node_modules/@corelogic/clui/dist/css/corelogic-ui.css">
</head>
<body>
    <h1>Cool Info</h1>
    
    <!-- jQuery first and then Bootstrap JS. -->
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="./node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="./node_modules/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="./node_modules/@corelogic/clui/dist/js/corelogic-ui.js"></script>
</body>
</html>