<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>

        <link rel="stylesheet" href="/css/home.css">
        <script src="/scripts/home.js" defer></script>
    </head>
    <body class="layout-full-page">
        <%- include('partials/navbar') %>

        <div class="gradient-blue-bg layout-full-page-content" style="background-image: url('../images/serverRoom.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 mx-auto">
                        <h1 class="text-white text-center pb-5">Choose Your Environment & Node</h1>
                        <div class="form-group">
                            <div class="form-group"><label for="demoSelect"> Environment</label><select class="custom-select ng-pristine ng-valid ng-touched" id="demoSelect" name="demoSelect">
                                <option value="SBX"> SBX </option>
                                <option value="DEV"> DEV </option>
                                <option value="UAT"> UAT </option>
                            </select></div>
                            <div class="form-group"><label for="demoSelect"> Node</label><select class="custom-select ng-pristine ng-valid ng-touched" id="demoSelect" name="demoSelect">
                                <option value="Brvo"> Bravo </option>
                                <option value="Dlta"> Delta </option>
                                <option value="Echo"> Echo </option>
                                <option value="Golf"> Golf </option>
                                <option value="Htl"> Hotel </option>    
                                <option value="Ind"> Indigo </option>                                
                            </select></div>
                            <div class="input-group-btn">
                                <button class="btn btn-default text-uppercase">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>