<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>

        <link rel="stylesheet" href="/css/home.css">
        <script src="/scripts/home.js" defer></script>
    </head>
    <body>
        <%- include('partials/navbar') %>

        <h1>Hi <%= locals.text %> </h1>
    </body>
</html>