<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>

        <link rel="stylesheet" href="/css/home.css">
        <script src="/scripts/home.js" defer></script>
    </head>
    <body class="layout-full-page">
        <%- include('partials/navbar') %>

        <div class="layout-full-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5 mx-auto">
                        <h1 class="text-white text-center pb-5">Choose Your Environment & Farm</h1>
                        <div class="form-group">
                            <label class="text-white" for="environmentField">Environment:</label>
                            <select class="form-control" id="environmentField">
                                <option value="DEV" selected> DEV </option>
                                <option value="UAT"> UAT </option>
                                <option value="DEV"> PROD </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-white" for="farmField">Farm:</label>
                            <select class="form-control" id="farmField">
                                <option value="brvo" selected> Bravo </option>
                                <option value="dlta"> Delta </option>
                                <option value="echo"> Echo </option>
                                <option value="golf"> Golf </option>
                                <option value="htl"> Hotel </option>    
                                <option value="ind"> Indigo </option>                                
                            </select>
                        </div>

                        <button class="btn btn-secondary btn-block my-4 text-uppercase" id="searchBtn">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
    </body>
</html>